name: IGPSport Data Sync To Xingzhe 

on:
  schedule:
    - cron: '0 1 * * *'
  watch:
    types: started

jobs:
  sync:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: run srcipt
      run: |
        python ActivitySync.py ${{ vars.USERNAME }} ${{ vars.PASSWORD }}
      env:
        USERNAME: ${{ vars.USERNAME }}
        PASSWORD: ${{ vars.PASSWORD }}
